.menu{
    display: flex;
    width: 90%;
    height: auto;
    align-items: center;
    justify-content: flex-end;
}

.menu > ul{
    display: flex;
    width: 70%;
    list-style: none;
    padding: 0;
}

.menu > ul > li{
    width: auto;
    text-align: center;
    padding: 0;
    flex-grow: 1;
}

.menu > ul > li > a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-color);
    margin: 0;
    display: block;
    width: 100%;
}

.menu > ul > li > a:hover{
    border-bottom: solid 2px var(--secondary-color-dark);
    transition: 0.4s;
}



@media (max-width: 910px){
    .menu{
        position: fixed;
        width: 100%;
        height: 300px;
        background-color: var(--primary-color);
        justify-content: start;
        position: absolute;
        top: 48px;
        padding: 0;
        align-items: baseline;
        transform: translateX(-200%);
    }
    .menu > ul{
        display: block;
        margin: 0;
        width: 100%;
    }
    .menu > ul > li{
        text-align: start;
        padding: 10px;
        background-color: var(--primary-color);
        border-bottom: solid 1px var(--light);
    }
    .menu > ul > li > a{
        color: var(--light);
    }
    .menu > ul > li > a:hover{
        border: none;
    }

}